<div class="row mx-1 px-5 pb-3 w-80">
    <div class="col mx-auto">
        <div class="row px-3 align-items-center todo-item rounded">
            <div class="col-auto m-1 p-0 d-flex align-items-center">
                <h2 class="m-0 p-0">
                    <button *ngIf="taskItem.status === 'progress'" type="button" (click)="onChecked()" class="btn btn-light">
            <i
              class="bi bi-square"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Mark as Done"
            ></i>
          </button>
                    <button *ngIf="taskItem.status === 'done'" (click)="onChecked()" type="button" class="btn btn-light">
            <i
              class="bi bi-check"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Mark as ToDo"
            ></i>
          </button>
                </h2>
            </div>
            <div class="col px-1 m-1 d-flex justify-content-evenly align-items-center">
                <input type="text" class="
            form-control form-control-lg
            border-0
            edit-todo-input
            bg-transparent
            rounded
            px-3
          " readonly [ngClass]="{ 'strike-through': taskItem.status === 'done' }" value="{{ taskItem.task }}" title="{{ taskItem.task }}" />

                <button type="button" class="btn btn-danger" (click)="onDelClicked()" data-bs-toggle="tooltip" data-bs-placement="top" title="delete todo">
          <i class="bi bi-trash"></i>
        </button>
            </div>
        </div>
    </div>
</div>