<div class="row m-1 p-3 d-flex justify-content-center" *ngIf="auth.user$ | async">
    <button style="width: fit-content" (click)="logoutClicked()">Logout</button>
</div>
<div class="row m-1 p-3">
    <div class="col col-10 mx-auto">
        <div class="
        row
        bg-white
        rounded
        shadow-sm
        p-2
        add-todo-wrapper
        align-items-center
        justify-content-center
      ">
            <form #taskForm="ngForm" (ngSubmit)="onTaskSubmit(taskForm)">
                <div class="col">
                    <input class="
              form-control form-control-lg
              border-0
              add-todo-input
              bg-transparent
              rounded
            " type="text" placeholder="Add new .." ngModel required name="task" />
                </div>

                <div class="col-auto px-0 mx-0 mr-2">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="p-2 mx-4 border-black-25 border-bottom"></div>
<div class="todo-items" *ngFor="let item of todoList">
    <app-todo-card [taskItem]="item" (delClicked)="onTodoDelete($event)" (checkClicked)="onCheckClicked($event)"></app-todo-card>
</div>